@import './normalize.css';
@import './public.css';

html,body{
    overflow: hidden;
    user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}