.demo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    /* overflow: auto; */
}
.top{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.top-left{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-title{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.top-right{
    width: 15%;
    height: 100%;
}
.top-back{
    width: 18px;
    height: 18px;
}
.show-box{
    margin-top: 20px;
    width: 92%;
    border-style: dashed;
    border-width: 0.5px;
    border-color: rgb(200,200,200);
    border-radius: 4px;
    background-color: rgb(245,245,245);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /* 解决iOS的自适应高度适配问题 */
    height: auto;
    flex: auto 0 0;
    padding-bottom: 30px;
}
.show-title{
    font-size: 16px;
    font-weight: bold;
    flex: auto 0 0;
}
.show-component{
    margin-top: 18px;
    width: 90%;
    height: 35px;
    transition: all 0.4s;
}
.params-head{
    width: 92%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    border-bottom-width: 0.4px;
    border-bottom-color: rgb(230,230,230);
}
.params-body{
    width: 92%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 50px;
}
 /* 取消ios系统的滚动条 */
 .params-body::-webkit-scrollbar{
    display: none;
  }
.params-item{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    flex: 0 0 auto
    
}
.tag-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}
.tag-line{
    width: 3px;
    height: 15px;
    border-radius: 100px;
    background-color: rgb(80,80,80);
}
.tag-text{
    margin-left: 4px;
    font-size: 15px;
    opacity: 0.9;
}
.demo-subsection{
    width: 100%;
    height: 38px;
}