.k-progress {
    position: relative;
    display: flex;
    flex-direction: row;
}
.k-progress-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width;
    transition-timing-function: linear;
}
.k-progress-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}