.k-board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .k-board-laba {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .k-board-content-box {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .k-board-content {
    width: auto;
    display: flex;
    white-space: nowrap;
    position: absolute;
  }
  .k-board-enter {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }